@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.section {
  background-color: #f2f2fc;
  min-height: 50vh;
  display: block;
}

.container {
  width: 100%;
  margin: auto;
}

.shadow-img {
  -webkit-box-shadow: 0 0 40px rgba(48, 46, 77, 0.6);
  box-shadow: 0 0 40px rgba(48, 46, 77, 0.6);
}

.home {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
}

.home .intro {
  text-align: center;
}

.home .intro img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 100%;
  display: inline-block;
}

.home .intro h1 {
  font-size: 35px;
  color: black;
  font-weight: 100;
  margin: 20px 0 8px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
}

.home .intro p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  font-family: "Inconsolata", monospace;
  line-height: 22px;
  color: #ca8f20;
}

.home .intro .social-links {
  margin-top: 25px;
}

/* Responsive */

@media (max-width: 1199px) {
  .main-content {
    padding-left: 0;
  }
  .home .intro img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
    display: inline-block;
  }
}
