body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar css starts here  */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
/* Custom scrollbar css ends here  */

main {
  margin-left: 5rem;
  padding: 1rem;
}


