@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    font-family: 'Inconsolata', monospace;
}

.section .container{
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #f2f2fc;
    min-height: 100vh;
}

.contact .contact-info-item{
    -ms-flex: 0 0 45.33%;
    flex: 0 0 45.33%;
    max-width: 55.33%;
    padding-left: 150px;
    margin-top: 70px;
    text-align: center;
}

.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon{
    font-size: 40px;
    color: goldenrod;
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p,
.contact .contact-info-item a{
    font-size: 16px;
    line-height: 25px;
    color: #86785C;
    text-decoration: none;
    margin: 0;
    font-weight: 400;
}