
/* Specific Style for home page */
*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
/* Specific Style for home page (END)*/

:root {
  font-size: 16px;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

/* Custom scrollbar css starts here  */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: goldenrod;
}
/* Custom scrollbar css ends here */


