@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Css for portfolio will be inherited from the about.css sinces the classes used are same */


*{
    font-family: 'Inconsolata', monospace;
}

.shadow-dark{
    -webkit-box-shadow: 0 0 20px rgba(48,46,77,0.15);
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

.portfolio .container{
    padding-bottom: 40px;
}

.portfolio .portfolio-filter{
    /* background-color: red; */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.portfolio .portfolio-filter button{
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 10px;
    color: #86785c;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    padding-bottom: 2px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.portfolio .portfolio-filter button.active{
    color: goldenrod;
    border-color: goldenrod;
}

.portfolio .portfolio-item{
    /* background-color: red; */
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner{
    border: 6px solid #fdf9ff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.portfolio .portfolio-item-inner .portfolio-img img{
    width: 100%;
    display: block;
}

.portfolio .portfolio-item .portfolio-info{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 30px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.portfolio .portfolio-item-inner:hover .portfolio-info{
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-info h4{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
}

.portfolio .portfolio-item-inner:hover .portfolio-info h4{
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.portfolio .portfolio-item .portfolio-info .icon{
    height: 40px;
    width: 40px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.portfolio .portfolio-item-inner:hover .portfolio-info .icon{
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.portfolio .portfolio-item .portfolio-info .icon .fa{
    line-height: 40px;
    color: goldenrod;

}